img {
	max-height: 100%;
	max-width: 100%;
}
.content {
	background-color: #98f5eb;
	border-radius: 20px;
	width: 1200px;
	margin: 0 auto;
	font-size: 30px;
}
.row {
	display: flex;
}
.box {
	width: 100px;
	flex-grow: 1;
	background-color: #f7ec52;
	margin: 10px;
}
.col-1 {
	flex-grow: 1;
	text-align: center;
}
.col-3 {
	flex-grow: 3;
}
p {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
h2 {
	font-family: 'PT Sans', sans-serif;
	font-weight: 600;
}
h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 450;
}
ul {
	font-family: 'Merriweather', sans-serif;
	font-weight: 300;
}
iframe {
	height: 100%;
	width: 100%;
}
.content {
	background-color: #98f5eb;
	border-radius: 20px;
	width: 1200px;
	margin: 0 auto;
	font-size: 30px;
}